.textField {
  display: block;
  margin-top: 5px;
  width: 200px;
  margin: 0 auto;
}

.button {
  background-color: #303f9f;
  color: white;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 70%;
}

.form {
  min-width: 400px;
}
