.card-container {
  background-color: rgb(27, 25, 25);

  text-align: center;
  padding: 30px;
  margin-top: 50px;
  margin-left: 10px;

  float: left;
}
.card-header {
  background-color: rgb(37, 37, 37) !important;
  color: white;
}

.card-img {
  width: 300px !important;
}
