.container {
  text-align: center;
  margin: 50px auto;
  max-width: 100px;
}

.input {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button {
  margin-top: 15px;
}

.modal-backdrop {
  opacity: 0.5 !important;
}
.m {
  opacity: 1 !important;
}
