.header {
  background-color: #353535;
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
}

.header-brand {
  width: 10%;
  height: 100%;
  color: white;
  margin: 0px 10px;
  text-align: left;
  display: inline-block;
  float: left;
}

.header-brand a {
  text-decoration: none;
  color: inherit;
}
.header-brand a:hover {
  color: rgb(223, 223, 223);
}

.header-sign-in {
  width: 8%;
  float: right;
  height: 100%;
  color: #8aff80;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  background-color: #353535;
  border: none;
  font-weight: bold;
  border-left: rgb(71, 71, 71) solid 1px;
}
.header-sign-in:hover {
  background-color: #3d3d3d;
}

.header-sign-up {
  background-color: #8aff80;
  border: none;
  width: 8%;
  height: 100%;
  font-weight: bold;
  float: right;
}
.header-sign-up:hover {
  background-color: #b1ffaa;
}

.tournament-dropdown {
  float: left;
  margin-top: 5px;
}
.tournament-dropdown-toggle {
  background-color: #353535 !important;
  border: none !important;
  box-shadow: none !important;
}
.tournament-dropdown-item {
  background-color: #353535 !important;
  color: white !important;
}
.tournament-dropdown-item:hover {
  background-color: #555555 !important;
}

@media (max-width: 992px) {
  .header-sign-in {
    width: 100px;
  }
  .header-sign-up {
    width: 100px;
  }
}
